.header {
  align-self: flex-end;
  margin-right: 5%;
}

.btn_randow {
  color: var(--c3);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  border: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.btn_randow svg {
  margin-left: 0.625rem;
  font-size: 1.8rem;
  transition: 0.4s;
}

.btn_randow:hover svg {
  transform: rotate(360deg);
}
